{% extends 'oauth/base_oauth.html' %}
{% block title %}
Login
{% endblock title %}
{% block content %}
<form action="{% url 'oauth:authenticate' %}" method="POST">
{% csrf_token %}
<input type="text" name="username" placeholder="Username" />
<input type="password" name="password" placeholder="Password" />
<input type="submit" name="submit" value="Sign in">
<input type="hidden" name="response_type" value="{{ client.response_type }}">
<input type="hidden" name="redirect_uri" value="{{ client.redirect_uri }}">
<input type="hidden" name="scope" value="{{ client.scope }}">
<input type="hidden" name="state" value="{{ client.state }}">
<input type="hidden" name="client_id" value="{{ client.client_id }}">
</form>
{% endblock content %}
