<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'oauth/public/css/foundation.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'oauth/public/css/custom.css' %}">
<title>
	{% block title %}
	{% endblock title %}
	| Students | OAuth
</title>

</head>
<body>
{% block header %}
	{% include 'oauth/header.html' %}
{% endblock header %}

{% block content %}
{% endblock content %}

{% block footer %}
	{% include 'oauth/footer.html' %}
{% endblock footer %}

<script src="{% static 'oauth/public/js/vendor/jquery.js' %}"></script>
<script src="{% static 'oauth/public/js/foundation.min.js' %}"></script>
<script>
$(document).foundation();
</script>


</body>
</html>
